#ignore everything except
node_modules
examples/*
data/*
!data/.gitkeep
.DS_Store
.env
customers
tmp/*
!tmp/.gitkeep
dungeons/*
!dungeons/.gitkeep
tests/coverage/*
!tests/coverage/.gitkeep
cloud/*
!cloud/.gitkeep
!cloud/package.json
env.yml