#ignore everything except
node_modules
examples/*
data/*
!data/.gitkeep
.DS_Store
.env
customers
tmp/*
!tmp/.gitkeep
dungeons/customers/*
!dungeons/customers/.gitkeep
tests/coverage/*
!tests/coverage/.gitkeep
env.yml
dungeons/customers/*.js
!dungeons/customers/.gitkeep
log.json
vscode-profile-*
PHASE1-IMPROVEMENTS.md
dungeons/*ai-dungeon*
ignore*
*scratch*
research/*
!research/.gitkeep